.header-sticky {
  position: sticky;
  top: 0;
  background-color: transparent;
  z-index: 1000;
  border-bottom: 1px solid transparent;
}

.header-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 40px;
}

.header-nav {
  display: flex;
  gap: 2rem;
}

.header-nav a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  position: relative;
  padding-bottom: 0.25rem;
}

.header-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: width 0.3s;
}

.header-nav a:hover::after,
.header-nav .active::after {
  width: 100%;
}

.header-nav a:hover,
.header-nav .active {
  color: #c42b1c;
}

.logo img {
  height: 80px;
}

.logo-image {
   width: 80px;
  height: 80px;
  object-fit: contain;
  content: url("/assets/logo1.png");
  transition: 0.3s ease;
}


.logo-image:hover {
  content: url("/assets/logo2.png");

}